@model ProfessorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@Html.ValidationMessageFor(m => m.IdProfessor)

@if (ViewBag.Operacao == "I")
{
<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Cadastrar Professor</h1>
</div>
}
else
{
<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Editar Professor</h1>
</div>
}



<form action="Salvar" method="post" class="form-group" style="display:flex; align-items:center; width:100%; justify-content: center">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <div class="conteudo" style="width:65%">
        <label for="IdProfessor" class="control-label" style="color: #0168B3">RA</label>

        @if (ViewBag.Operacao == "I")
        {
            <input type="number" Name="IdProfessor" value="@Model.IdProfessor" class="form-control" />
            <!--<input asp-for="IdProfessor" class="form-control" />-->
        }
        else
        {
            <!--<input type="number" Name="IdProfessor" value="@Model.IdProfessor" class="form-control disabled" readonly />-->
            <input asp-for="IdProfessor" class="form-control" readonly />
        }
        <span asp-validation-for="IdProfessor" class="text-danger"></span>
        <br />

        <label for="nomeProfessor" class="control-label" style="color: #0168B3">Nome do professor</label>
        <input type="text" Name="nomeProfessor" value="@Model.nomeProfessor" class="form-control" />
        <!--<input asp-validation-for="nomeProfessor" class="form-control" />-->
        <span asp-validation-for="nomeProfessor" class="text-danger"></span>
        <br />

        <div class="buttons" style="display:flex; justify-content:space-between">
            <input type="submit" value="Salvar" class="btn btn-success" style="width:45%" />
        </div>
    </div>
        <br />
    </form>
