@model PresencaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Operacao == "I")
{
    <div class="titulo" style="display:flex; align-items:center; justify-content:center">
        <h1 style="color: #0168B3">Cadastrar Presença</h1>
    </div>
}
else
{
    <div class="titulo" style="display:flex; align-items:center; justify-content:center">
        <h1 style="color: #0168B3">Editar Presença</h1>
    </div>
}



<form asp-action="Save" enctype="multipart/form-data" class="form-group" style="display:flex; align-items:center; width:100%; justify-content: center">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <div class="conteudo" style="width:65%">
        <label for="id" class="control-label" style="color: #0168B3">ID</label>

        @if (ViewBag.Operacao == "I")
        {
            <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
            <!--<input asp-for="id" class="form-control" />-->
        }
        else
        {
            <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
            <!--<input asp-for="Id" class="form-control" readonly />-->
        }

        <label for="Id_aluno_fk" class="control-label" style="color: #0168B3">RA Aluno</label>
        <input type="number" Name="Id_aluno_fk" value="@Model.Id_aluno_fk" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Id_aluno_fk" class="text-danger"></span>
        <br />

        <label for="Nome_professor" class="control-label" style="color: #0168B3">Professor</label>
        <input type="text" Name="Nome_professor" value="@Model.Nome_professor" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Nome_professor" class="text-danger"></span>
        <br />

        <label for="Nome_curso_fk" class="control-label" style="color: #0168B3">Curso</label>
        <input type="text" Name="Nome_curso_fk" value="@Model.Nome_curso_fk" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Nome_curso_fk" class="text-danger"></span>
        <br />

        <label for="Nome_materia_fk" class="control-label" style="color: #0168B3">Matéria</label>
        <input type="text" Name="Nome_materia_fk" value="@Model.Nome_materia_fk" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Nome_materia_fk" class="text-danger"></span>
        <br />

        <label for="Periodo_curso_fk" class="control-label" style="color: #0168B3">Período</label>
        <input type="text" Name="Periodo_curso_fk" value="@Model.Periodo_curso_fk" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Periodo_curso_fk" class="text-danger"></span>
        <br />

        <label for="Semestre_curso_fk" class="control-label" style="color: #0168B3">Semestre</label>
        <input type="number" Name="Semestre_curso_fk" value="@Model.Semestre_curso_fk" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Semestre_curso_fk" class="text-danger"></span>
        <br />

        <label for="Situacaopresenca" class="control-label" style="color: #0168B3">Situação</label>
        <input type="text" Name="Situacaopresenca" value="@Model.Situacaopresenca" class="form-control" />
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Situacaopresenca" class="text-danger"></span>
        <br />

        <label for="Horario_aula" class="control-label" style="color: #0168B3">Data / Hora</label>
        <input type="datetime-local" Name="Horario_aula" value="@Model.Horario_aula.ToString("yyyy-MM-dd HH:mm")" class="form-control"/>
        <!--<input asp-validation-for="Nome" class="form-control" />-->
        <span asp-validation-for="Horario_aula" class="text-danger"></span>
        <br />

        <div class="buttons" style="display:flex; justify-content:space-between">
            <input type="submit" value="Salvar" class="btn btn-success" style="width:100%; margin-top:1.5rem" />
        </div>
    </div>
    <br />
</form>


